.MMM-Bysykkel .wrapper {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1em;
  flex-direction: column;
}

.region.left .MMM-Bysykkel .wrapper, .region.right .MMM-Bysykkel .wrapper {
  padding: 0;
}

.MMM-Bysykkel .wrapper > div {
  height: 100%;
  width: 100%;
}

.MMM-Bysykkel .wrapper .top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MMM-Bysykkel .wrapper .bottom {
  display: flex;
  flex-direction: row;
  margin-top: 1.5em;
}

.MMM-Bysykkel .wrapper .bottom > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.MMM-Bysykkel .wrapper .bottom > div > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.region.right .MMM-Bysykkel .wrapper .bottom.singleStation > div > div {
  justify-content: flex-end;
}

.region.left .MMM-Bysykkel .wrapper .bottom.singleStation > div > div {
  justify-content: flex-start;
}

.MMM-Bysykkel .wrapper .bottom > div > div img {
  height: 50px;
  margin-right: .25em;
}

.MMM-Bysykkel .big {
  font-size: 1.75em;
}

.MMM-Bysykkel .bold {
  font-weight: bold;
}